.table-striped-rows tr:nth-child(2n) td {
    background-color: #ffffff;
}
.table-striped-rows tr:nth-child(2n-1) td {
    background-color: #f1f4f9;
}
.ant-table-small .ant-table-thead>tr>th {
    background-color: #0845b4;
    color: white;
}
.ant-table.ant-table-small {
    font-size: 14px;
    border: 1px solid #0845b4;
}
.ant-table-thead th.ant-table-column-has-sorters:hover {
    background: rgb(8 69 180);
}
.ant-table-filter-dropdown {
    margin-top: -35px;
}