
$primary: #fff;
$secondary: #161616;
$primary_theme: #034EA2;
$secondary_theme: #e5a900;


$text_error: #E53D00;


// $textCharcoal: #8E8E8E;
// $gray: #DDDDDD;
// $primary_gradient: linear-gradient(315deg,#524FA1,#034EA2);
// $primary_gradient: linear-gradient(315deg,#021A4F,#0B3591);
// $secondary_gradient: linear-gradient(315deg,#F7F7F7,#EAEAEA);
// $modal_gradient: linear-gradient(315deg,#DDDDDD,#f8f8f8);
// $award_gradient: linear-gradient(315deg,#CCD3E1,#FFFFFF, #F8F8F8);
$error_btn: linear-gradient(315deg,#0B3694,#E50067);

// $textWhite: #fff;
// $white_two: #EAEAEA;
// $white_three: #E3E3E3;
// $white_four: #F8F8F8;
// $white_five: #F4F4F4;
// $white_six: #F3F3F3;
// $white_seven: #F1F1F1;
// $white_eight: #E6E7E8;

// $loginBg: #F0F2F1;
// $textBlack: #000;
// $black_two: #292929;
// $black_three: #011749;
// $black_four: #231F20;
// $black_five: #161616;

// $textYellow: #EDDD01;
// $textYellow_two: #FFDE2F;
// $textGreen: #40CE03;
// $textOrange: #E53D00;
// $textOrange_two: #F37022;
// $disabled: #F17DB5;
// $darkBlue: #00438D;

// $gray_one: #666666;
// $gray_two: #6D6E71;
// $gray_three: #E7E8E9;
// $gray_four: #D1D3D4;
// $gray_five: #E4E4E4;

// $textDimGray: #646464;
// $textLightGray: #9E9E9E;
// $lightblue: #1BA8E6;
// $textWhiteGray: #D9D9D9;
// $textInput: #2D2D2D;

// Fonts
$globalFont: 62.5%;
$f_48: 4.8rem;
$f_42: 4.2rem;
$f_40: 4rem;
$f_38: 3.8rem;
$f_36: 3.6rem;
$f_34: 3.4rem;
$f_32: 3.2rem;
$f_30: 3rem;
$f_26: 2.6rem;
$f_25: 2.5rem;
$f_24: 2.4rem;
$f_22: 2.2rem;
$f_20: 2rem;
$f_18: 1.8rem;
$f_16: 1.6rem;
$f_14: 1.4rem;
$f_12: 1.2rem;
$f_10: 1rem;